{% extends "base.html" %}
<!-- load -->
{% load static %}
<!-- bloc -->

{% block title %}Bienvenue dans mon blog{% endblock %}
<!-- css -->
{% block css_files %}
<!-- start -->
<link rel="stylesheet" href="{% static "blog/index.css" %}">
<!-- diflink -->
<link rel="stylesheet" href="{% static "blog/post.css" %}">
<!-- end -->
{% endblock %}
<!-- bloc -->

{%block content %}

<section id="welcome">
  <header>
    <img class="img" src="{% static "blog/images/profilee.png" %}" alt="hady
    photo">
    <h2>Mon blog</h2>
  </header>
  <p>Je suis un développeur web et mobile qualifié, également administrateur web,
     designer web et créateur de sites internet. Grâce à mon expertise polyvalente,
      je conçois, développe et administre des plateformes web modernes, tout en assurant 
      une expérience utilisateur optimisée et un design attractif..</p>
</section>
<section id="latest-posts">
  <h2>Derniers poste</h2>
  <ul>
    {% for post in posts %} {% include "blog/includes/post.html" %} {% endfor %}
  </ul>
</section>
<section id="about">
  <h2>Ma Détermination à Exceller ...</h2>
  <p>
    Ma passion pour la programmation me pousse à m’exercer quotidiennement
     afin de renforcer mes compétences et progresser vers un niveau senior. 
     La pratique constante me permet d’affiner mon expertise et d’évoluer efficacement dans mon domaine.
  </p>
</section>
{% endblock %}
